html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
svg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans CJK';
}
.land {
  fill: #ddf;
  stroke-width: 2px;
  stroke: #88a
}
.sea {
  fill: white;
}
.rail-l {
  stroke-width: 4px;
  fill: none;
}
.rail {
  stroke-width: 8px;
  fill: none;
}
.rail-h {
  stroke-width: 12px;
  fill: none;
}
.stn {
  fill: white;
}
.stn-name {
  font-size: 12px;
  fill: black;
  cursor: default;
}
.stn-name-p {
  font-size: 12px;
  fill: gray;
}
.stn-link {
  stroke-width: 8px;
  stroke: white;
}
.jr-hokkaido {
  stroke: #2cb431;
}
.jr-hokkaido-light {
  stroke: #9cd4a1;
}
.jr-east {
  stroke: #0c8c11;
}
.jr-east-light {
  stroke: #8ccc91;
}
.jr-central {
  stroke: #ff7000;
}
.jr-west {
  stroke: #0072bc;
}
.jr-west-light {
  stroke: #80c2dc;
}
.jr-shikoku {
  stroke: #1cadca;
}
.jr-kyushu {
  stroke: #ff0000;
}
.hankyu {
  stroke: #702029;
}
.kintetsu {
  stroke: #cc0033;
}
.keihan {
  stroke: #5ba094;
}
.hanshin {
  stroke: #ff4500;
}
.nankai {
  stroke: #2085af;
}
.meitetsu {
  stroke: #d12027;
}
.odakyu {
  stroke: #2288cc;
}
.keio {
  stroke: #dd0077;
}
.tokyu {
  stroke: #da0442;
}
.keikyu {
  stroke: #cc0033;
}
.seibu {
  stroke: #0099cc;
}
.toubu {
  stroke: #005bac;
}
.keisei {
  stroke: #2176c3;
}
.nishitetsu {
  stroke: #003399;
}
.randen {
  stroke: #00c000;
}
.eizan {
  stroke: #800000;
}
.wakayama {
  stroke: #dc143c;
}
.sanyo {
  stroke: #fa2b08;
}
.kobe-dentetsu {
  stroke: #dd0033;
}
.sangi {
  stroke: #ffd400;
}
.hojo {
  stroke: #40f060;
}
.asunarou {
  stroke: #00a0e8;
}
.bataden {
  stroke: #ffff00;
}
.ohmi {
  stroke: #ffc000;
}
.echizen-mikuni {
  stroke: #0066ff;
}
.echizen-eiheiji {
  stroke: #ff6600;
}
.fukui {
  stroke: #008000;
}
.hiroden {
  stroke: #dd2424;
}
.astram {
  stroke: #ffa500;
}
.toyotetsu {
  stroke: #006666;
}
.toyama-chitetsu {
  stroke: #cc3366;
}
.entetsu {
  stroke: #c32829;
}
.izuhakone {
  stroke: #3333ff;
}
.hakone-tozan {
  stroke: #f15a22;
}
.enoden {
  stroke: #005c3f;
}
.chichibu {
  stroke: #0000cc;
}
.kotoden {
  stroke: #ffd400;
}
.iyotetsu {
  stroke: #e6611c;
}
.tosaden {
  stroke: #008000;
}
.sotetsu {
  stroke: #ee7b35;
}
.shonan-monorail {
  stroke: #ff0000;
}
.tsukuba-ex {
  stroke: #000084;
}
.shin-keisei {
  stroke: #ef59a1;
}
.narita-airport {
  stroke: #ff8620;
}
.kanto-tetsudo {
  stroke: #0000ff;
}
.jomo-tetsudo {
  stroke: #40e0d0;
}
.yagan-tetsudo {
  stroke: #009933;
}
.aizu-tetsudo {
  stroke: #ff9900;
}
.konan-tetsudo {
  stroke: #ffa500;
}
.tsugaru-tetsudo {
  stroke: #ffa500;
}
.fujikyu {
  stroke: #0033dd;
}
.matsumoto {
  stroke: #465daa;
}
.nagano-dentetsu {
  stroke: #ff0000;
}
.tama-monorail {
  stroke: #fa6c1f;
}
.chikuho-dentetsu {
  stroke: #e30075;
}
.kumamoto-dentetsu {
  stroke: #124dae;
}
.shimabara {
  stroke: #ffff22;
}
.tango {
  stroke: #1e6035;
}
.yourou {
  stroke: #228c22;
}
.shigaraki {
  stroke: #9acd32;
}
.iga {
  stroke: #4b0082;
}
.chizu {
  stroke: #112299;
}
.ibara {
  stroke: #9acd32;
}
.ir-ishikawa {
  stroke: #00a7e3;
}
.toyama-tetsudo {
  stroke: #00a556;
}
.echigo-nihonkai {
  stroke: #3782bd;
}
.echigo-myoko {
  stroke: #35c98e;
}
.nagaragawa {
  stroke: #ff1493;
}
.tarumi {
  stroke: #00b2e5;
}
.tosa-kuroshio {
  stroke: #00bfff;
}
.oigawa {
  stroke: #ff0000;
}
.toyama-lr {
  stroke: #00008b;
}
.manyo-line {
  stroke: #ff0000;
}
.shinano {
  stroke: #f0a401;
}
.kita-shinano {
  stroke: #999966;
}
.hokuhoku {
  stroke: #e8204e;
}
.yamagata-tetsudo {
  stroke: #ff69b4;
}
.donan-isaribi {
  stroke: #246dac;
}
.amagi {
  stroke: #00cc33;
}
.isumi-tetsudo {
  stroke: #ffd400;
}
.kashima-rinkai {
  stroke: #ff0000;
}
.kominato-tetsudo {
  stroke: #ff6347;
}
.sanriku-tetsudo {
  stroke: #ff0000;
}
.sanriku-tetsudo-light {
  stroke: #ff8080;
}
.iwate-ginga {
  stroke: #03459a;
}
.aoimori {
  stroke: #33cbf4;
}
.kumagawa {
  stroke: #00ccff;
}
.hisatsu-orange {
  stroke: #ffa500;
}
.kyoto-karasuma {
  stroke: #00a947;
}
.kyoto-tozai {
  stroke: #ff0000;
}
.osaka-tanimachi {
  stroke: #522886;
}
.osaka-imazato {
  stroke: #ee7b1a;
}
.osaka-midosuji {
  stroke: #e5171f;
}
.osaka-nagahori {
  stroke: #a9cc51;
}
.osaka-yotsubashi {
  stroke: #00389a;
}
.osaka-sennichimae {
  stroke: #e44d93;
}
.osaka-chuo {
  stroke: #019a66;
}
.osaka-nanko {
  stroke: #00a0de;
}
.osaka-monorail {
  stroke: #000080;
}
.kobe-kaigan {
  stroke: #0388c0;
}
.kobe-yamate {
  stroke: #01af98;
}
.nagoya-higashiyama {
  stroke: #ffb700;
}
.nagoya-mejo {
  stroke: #8f76d6;
}
.nagoya-tsurumai {
  stroke: #009bbf;
}
.nagoya-sakura {
  stroke: #ad443c;
}
.nagoya-kami-ida {
  stroke: #e77b9f;
}
.nagoya-aonami {
  stroke: #334fa0;
}
.nagoya-gw-bus {
  stroke: #3c459a;
}
.aichi-kanjo {
  stroke: #2536a1;
}
.okayama-higashiyama {
  stroke: #244f9b;
}
.okayama-seikibashi {
  stroke: #b264b4;
}
.yokohama-blue {
  stroke: #006bf0;
}
.yokohama-green {
  stroke: #40cc40;
}
.yokohama-mm {
  stroke: #0067c0;
}
.yokohama-kanazawa {
  stroke: #f68b1e;
}
.tokyo-ginza {
  stroke: #ec9a14;
}
.tokyo-marunouchi {
  stroke: #ec0224;
}
.tokyo-hibiya {
  stroke: #9baaad;
}
.tokyo-tozai {
  stroke: #14aaec;
}
.tokyo-nanboku {
  stroke: #04aaac;
}
.tokyo-fukutoshin {
  stroke: #bc5624;
}
.tokyo-asakusa {
  stroke: #ec568c;
}
.tokyo-chiyoda {
  stroke: #20b964;
}
.tokyo-hanzomon {
  stroke: #9c46ac;
}
.tokyo-yurakucho {
  stroke: #dcba24;
}
.tokyo-mita {
  stroke: #0476bc;
}
.tokyo-shinjuku {
  stroke: #84da74;
}
.tokyo-oedo {
  stroke: #cc0274;
}
.tokyo-rinkai {
  stroke: #00418e;
}
.tokyo-monorail {
  stroke: #003686;
}
.tokyo-arakawa {
  stroke: #ee86a7;
}
.saitama-kosoku {
  stroke: #345caa;
}
.saitama-new-shuttle {
  stroke: #ffff00;
}
.chiba-toyo-kousoku {
  stroke: #00b16b;
}
.chiba-monorail {
  stroke: #2843ba;
}
.fukuoka-kuko {
  stroke: #ee5511;
}
.fukuoka-hakozaki {
  stroke: #0077cc;
}
.fukuoka-nanakuma {
  stroke: #00936b;
}
.sendai-nanboku {
  stroke: #72bc4a;
}
.sendai-tozai {
  stroke: #90d7ec;
}
.sendai-airport {
  stroke: #2a5caa;
}
.sapporo-nanboku {
  stroke: #07b9b1;
}
.sapporo-tozai {
  stroke: #faa932;
}
.sapporo-toho {
  stroke: #2294d1;
}
.kumamoto-tram {
  stroke: #008000;
}
.yui-rail {
  stroke: #ff0000;
}
.yui-rail-light {
  stroke: #ff8080;
}
.taiwan-hsl {
  stroke: #db5426;
}
.taiwan-rail {
  stroke: #1a007f;
}
.taiwan-alishan {
  stroke: #9fcc54;
}
.taipei-wenhu {
  stroke: #c48c31;
}
.taipei-tamsui {
  stroke: #e3002c;
}
.taipei-songshan {
  stroke: #008659;
}
.taipei-bannan {
  stroke: #0070bd;
}
.taipei-zhonghe {
  stroke: #f8b61c;
}
.taipei-maokong {
  stroke: #77bc1f;
}
.taipei-lr {
  stroke: #e5554f;
}
.taoyuan-airport {
  stroke: #8e47ad;
}
.kaohsiung-red {
  stroke: #ea0437;
}
.kaohsiung-orange {
  stroke: #ffa500;
}
.kaohsiung-lr {
  stroke: #00b14f;
}
.korail {
  stroke: #0066b3;
}
.korail-light {
  stroke: #a0c6e3;
}
.suseo-hsrl {
  stroke: #c7197d;
}
.busan-1 {
  stroke: #f06a00;
}
.busan-2 {
  stroke: #81bf48;
}
.busan-3 {
  stroke: #bb8c00;
}
.busan-4 {
  stroke: #217dcb;
}
.busan-5 {
  stroke: #d6406a;
}
.busan-bgl {
  stroke: #8451a0;
}
.daegu-1 {
  stroke: #d93f5c;
}
.daegu-2 {
  stroke: #00aa80;
}
.daegu-3 {
  stroke: #ffb300;
}
.gwangju-1 {
  stroke: #009088;
}
.daejeon-1 {
  stroke: #007448;
}
.incheon-1 {
  stroke: #f06a00;
}
.incheon-2 {
  stroke: #8cadCB;
}
.incheon-lr {
  stroke: #fe9700;
}
.incheon-airport {
  stroke: #3681b7;
}
.seoul-1 {
  stroke: #0d3692;
}
.seoul-2 {
  stroke: #33a23d;
}
.seoul-3 {
  stroke: #fe5b10;
}
.seoul-4 {
  stroke: #32a1c8;
}
.seoul-5 {
  stroke: #8b50a4;
}
.seoul-6 {
  stroke: #c55c1d;
}
.seoul-7 {
  stroke: #54640d;
}
.seoul-8 {
  stroke: #f51361;
}
.seoul-9 {
  stroke: #aa9872;
}
.seoul-gyeongui-c {
  stroke: #72c7a6;
}
.seoul-bundang {
  stroke: #e0a134;
}
.seoul-sinbundang {
  stroke: #bb1833;
}
.seoul-ever-line {
  stroke: #4ea346;
}
.seoul-ui-sinseol {
  stroke: #797979;
}
.ui-sinseol-lrt {
  stroke: #b7c452;
}
.uijeongbu-lrt {
  stroke: #ff850d;
}
.dr-korea-rail {
  stroke: #808080;
}
.pyongyang-chinlima {
  stroke: #ff0000;
}
.pyongyang-hyoksin {
  stroke: #008000;
}
.pyongyang-tram1 {
  stroke: #800080;
}
.pyongyang-tram2 {
  stroke: #ffa500;
}
.pyongyang-tram3 {
  stroke: #008080;
}
.china-rail {
  stroke: #b34049;
}
.china-rail-light {
  stroke: #d38089;
}
.shenyang-1 {
  stroke: #e5001c;
}
.shenyang-2 {
  stroke: #fec010;
}
.dalian-1 {
  stroke: #008000;
}
.dalian-2 {
  stroke: #0000ff;
}
.dalian-3 {
  stroke: #ff0000;
}
.dalian-12 {
  stroke: #d6006e;
}
.changchun-1 {
  stroke: #ff0000;
}
.changchun-3 {
  stroke: #009342;
}
.changchun-4 {
  stroke: #7030a0;
}
.harbin-1 {
  stroke: #9f0002;
}
.harbin-3 {
  stroke: #fd8609;
}
.tianjin-1 {
  stroke: #bd0016;
}
.tianjin-2 {
  stroke: #ece114;
}
.tianjin-3 {
  stroke: #128bbe;
}
.tianjin-6 {
  stroke: #9f216f;
}
.tianjin-9 {
  stroke: #063a91;
}
.tianjin-lr {
  stroke: #8fc31f;
}
.beijing-1 {
  stroke: #a8353a;
}
.beijing-2 {
  stroke: #004a88;
}
.beijing-4 {
  stroke: #008996;
}
.beijing-5 {
  stroke: #af0061;
}
.beijing-6 {
  stroke: #b78500;
}
.beijing-7 {
  stroke: #ffc66e;
}
.beijing-8 {
  stroke: #009878;
}
.beijing-9 {
  stroke: #94d600;
}
.beijing-10 {
  stroke: #008fbf;
}
.beijing-13 {
  stroke: #f6da40;
}
.beijing-14 {
  stroke: #cc9a8e;
}
.beijing-15 {
  stroke: #673278;
}
.beijing-16 {
  stroke: #6ba53a;
}
.beijing-s1 {
  stroke: #a65a2a;
}
.beijing-airport {
  stroke: #a292b3;
}
.beijing-yizhuang {
  stroke: #d6006e;
}
.beijing-changping {
  stroke: #de85bb;
}
.beijing-fangshan {
  stroke: #dc6016;
}
.beijing-xijiao {
  stroke: #e1261c;
}
.shijiazhuang-1 {
  stroke: #e53e30;
}
.shijiazhuang-3 {
  stroke: #00a1e0;
}
.jinan-1 {
  stroke: #a55fc8;
}
.qingdao-2 {
  stroke: #c32a05;
}
.qingdao-3 {
  stroke: #006dbb;
}
.qingdao-11 {
  stroke: #304299;
}
.qingdao-13 {
  stroke: #009c86;
}
.nanjing-1 {
  stroke: #00a2df;
}
.nanjing-2 {
  stroke: #c7003f;
}
.nanjing-3 {
  stroke: #009651;
}
.nanjing-4 {
  stroke: #796baf;
}
.nanjing-10 {
  stroke: #eac384;
}
.nanjing-s1 {
  stroke: #4bbbb4;
}
.nanjing-s3 {
  stroke: #ba84ac;
}
.nanjing-s7 {
  stroke: #b46b7a;
}
.nanjing-s8 {
  stroke: #ff8000;
}
.nanjing-s9 {
  stroke: #ffc600;
}
.shanghai-1 {
  stroke: #ea0437;
}
.shanghai-2 {
  stroke: #87d300;
}
.shanghai-3 {
  stroke: #ffd100;
}
.shanghai-4 {
  stroke: #4f1f91;
}
.shanghai-5 {
  stroke: #a24cc8;
}
.shanghai-6 {
  stroke: #d71671;
}
.shanghai-7 {
  stroke: #ff7200;
}
.shanghai-8 {
  stroke: #009edb;
}
.shanghai-9 {
  stroke: #78c7eb;
}
.shanghai-10 {
  stroke: #bc87e6;
}
.shanghai-11 {
  stroke: #7c2230;
}
.shanghai-12 {
  stroke: #007b63;
}
.shanghai-13 {
  stroke: #f293d1;
}
.shanghai-16 {
  stroke: #32d4cb;
}
.shanghai-17 {
  stroke: #b67770;
}
.shanghai-pujiang {
  stroke: #999999;
}
.wuxi-1 {
  stroke: #ee3e41;
}
.wuxi-2 {
  stroke: #05aa44;
}
.suzhou-1 {
  stroke: #62bd19;
}
.suzhou-2 {
  stroke: #ff0000;
}
.suzhou-4 {
  stroke: #0645ad;
}
.others {
  stroke: #808080;
}
